.form{
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.form_heading{
  text-align: center;
  text-transform: uppercase;
  font-size: bold;
}

.label{
  margin-top: 18px;
  display: inline-block;
}

.input{
  max-width: 500px;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 20px
  
}

button{
  background-color: black;
  color: white;
}


button:hover{
  color: black;
  background-color: white;
}