<form class="form" action="/account/login" method="post">
  <h1 class="form_heading">Login</h1>
  <label class="label" for="email">Email</label>
  <input type="email" class="input" name="customer[email]" id="email">
  <label class="label" for="password">Password</label>
  <input type="password" class="input" name="customer[password]" id="password">
  <button class="custom_button" type="submit">Login</button>
  <div>
    <p>
      To register account click here<a href="https://daily-task-huraira.myshopify.com/pages/registration"> Register</a>
    </p>
  </div>
</form>
